<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MayBanHangTuDong.Properties.Settings.ProductsConnectionString"
            connectionString="Data Source=ADMIN-PC\MYSQL;Initial Catalog=Products;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MayBanHangTuDong.Properties.Settings.ProductsConnectionString1"
            connectionString="Data Source=H_NGOC\SQLEXPRESS;Initial Catalog=Products;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>